# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Go
/crook
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
bin/
.kube/

# Vendor
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# State files
crook-state-*.tsv
